@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Application Title</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Placeholder text</a>.</p>
</div>
